<br>
<%= form_tag login_path do %>
  <div>Email <%= text_field_tag :email, nil, {class: "form-control"} %></div><br>
  <div>Password <%= password_field_tag :password, nil, {class: "form-control"} %></div><br />

  <div><%= submit_tag "Login", {class: "form-control"} %></div>
<% end %>
