<!DOCTYPE html>
<html>
  <head>
    <title>Backers</title>
    <script type="Users/katherineburke/Development/tmp/crowdraise/app/assets/javascripts/jquery.min.js"></script>
    <script type="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type='Users/katherineburke/Development/tmp/crowdraise/app/assets/javascripts/Chart.js'></script>
  <body>
    <h3>Contributions By Backer</h3>
    <br>
    <script type="Users/katherineburke/Development/tmp/crowdraise/app/assets/javascripts/backers-chart.js"></script>
    <canvas id="backersChart" width="1000" height="1000"></canvas>
  </body>
</html>
