<!DOCTYPE html>
<html>
<style>
  p {
    font-size:16px;
    padding-top:10px;
    padding-left:5px;
    color: #4c4d4d;
  }
  a {
    font-size:16px;
    padding-left:5px;

  }
</style>
  <body>

    <p id="alert">Before you can get started with making a new campaign you first need a Stripe Account. That way contributions from your campaign are paid out to you easily and quickly.</p>

    <strong><a href='<%= stripe_oauth_path %>'>Click here to create a Stripe Account</a></strong>

  </body>
</html>
