<style type="text/css">
.container {
    width: 500px;
    clear: both;
}
.container input {
    width: 100%;
    clear: both;
}
label {
  padding:8px;
}

</style>

<body>
	<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <h3>Update your campaign</h3>
        </div>
    </div>

  <%= render 'form' %>
  </div>
</body>
