.campaign {
  padding: .5cm;
  text-align: center;
  // font-size: 16px;
}

h2 {
  font-family: "verdana";
  font-size:34px;
  padding: 1.5cm
}
h3 {
  font-family: "verdana";
  font-size:22px;
  line-height: 100%;
  font-weight:normal;
}
